.galeria {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria li {
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items:flex-start;
  flex-flow: column;
  
}

.galeria img {
  width: 290px;
  height: 190px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  border-radius: 15px;
  -webkit-box-shadow:  5px -5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.5);
  box-shadow:  5px -5px 5px 0px rgba(0,0,0,0.55);
  
}

.galeria img:hover{
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 62, 73, 0.9);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 62, 73, 0.9);
  box-shadow: 0px 0px 10px 1px rgba(0, 62, 73, 0.9);
  -webkit-filter: opacity(50%);
}

.modal {
  display: none;
}

.modal:target {
  display: flex;
  position: fixed;
  background:rgba(8, 77, 89, 0.8);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  
}
/* Texto del cuadro*/
.modal h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

.imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a {
  font-family: monospace;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
  
}

.cerrar {
  display: block;
  background: #ffffff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}

th, td {
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.94);
}

#nom_oculto{
  visibility:hidden;
  color: transparent;
  position: absolute;
  opacity: 0;
  z-index: -2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 250px;
}
.galeria li:hover #nom_oculto{
  visibility: visible;
  margin-left: -10px;
  opacity:0.8 ;
  width: 250px;
  height: 70px;
  color: #ffffff;
  background-image: url('../img/cartrans.png');
  
}
.video{
  margin-top: 10px;
  width: 60%;
  height: 450px;
  align-self: center;

}






