ul{
	display: block;
	float: left;
	list-style: none;
		
}

ul li{
	float: left;
	margin: 10px;
	padding: 2px;
}

ul a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-stretch: condensed;

}


