.cuerpo_busqueda{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 850px;
  align-self: center;
  margin-top: 20px;
}
.titilotabla{
  background-color: #10a0b9;
  text-align: center;
  color: #FFFFFF
}

table td{
  width: 500px;
  padding: 5px;
  text-align: left;;
}
#tamano_cilindrada{
  width: 60px;
}
table{
  border: solid 5px #10a0b9;
  padding: 8px;
}
#button_submit{
margin-left:150px;
background-color: #10a0b9;
border: none;
color: #ffffff;
padding: 5px;

}

#button_submit:hover{
background-color: white;
border:solid 2px #10a0b9;
color: #10a0b9;
padding: 3px;
}

.imagen{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position:relative;

}

#carro{
border: solid 5px #10a0b9;

}
