body{  
  font-family: "Proxima Nova Alt", "Helvetica Neue";
  margin: 0;
  padding: 0;
  
}
.contenedorprincipal{
  display:flex;
  background-color: #ffffff;
  width: 100%;
  height:auto 1200px;
  flex-flow: column;
}
.header-items{
  width: 100%;
  height: 70px;
  background-color:#2C3E50;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: solid  #10a0b9;
}
.active{
  background-color: #10a0b9;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
  -moz-box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
  box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
}
#item{
  height: 30px;
  width: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  top:200;  
  
}
#item:hover{
  background-color: #10a0b9;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
  -moz-box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
  box-shadow: 0px 0px 20px 2px rgba(2,195,229,1);
}
.contenedor-slider {
  margin-top: 73px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 5px #fff,
  0 0px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
}

.slider {
  display: flex;
  width: 500%;
  
  
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  
  
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}



.barratexto{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  
}
.inclinado{
  width: 30%;
  height: 50px;
  background-color: #10a0b9;
  transform :skewX(-45deg);
  margin-left: -60px;
}
.inclinado2{
  width: 30%;
  height: 50px;
  margin-top: -45px;
  background-color: #2C3E50;
  transform :skewX(-45deg);
  margin-left: -55px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textonoin{
  transform :skewX(45deg);
  margin-left: 60px;
}


.seguimientopagina{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  font-variant: small-caps;
  font-family:"Century Gothic";
  margin-top: 10px;
  
}
#seguimiento a{
  
  color: #2C3E50;
}


.cuerpo{
  width: 100%;
  height: 400px;
}

footer{
  width: 100%;
  height: 75px;
  background: #2C3E50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #10a0b9;
  border-top: solid #10a0b9;
}

.barra_footer{
  width: 33%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#social{
  
  justify-content: space-between;
}
.iconosocial{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.contred{
  width: 33%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textored{
  margin-left: 4px;
  color: #ffffff
}

#barra_footer_derecha{
  justify-content: flex-end;
  text-align: right;
}
#texto_b_d_f{
  margin-right:20px;
}
#textored:hover{
  color: #10a0b9;
}

#fb{
    background-image: url('../img/social/fb1.png');
}
#tw{
    background-image: url('../img/social/twit1.png');
}
#ins{
    background-image: url('../img/social/insta1.png');
}

#fb:hover{
    background-image: url('../img/social/fb2.png');
}
#tw:hover{
    background-image: url('../img/social/twit2.png');
}
#ins:hover{
    background-image: url('../img/social/insta2.png');
}







@media (max-width: 600px) {
  h2{
    font-size: 10px;
  }
  .btn-prev, .btn-next{
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
    
  }
}
